html, body {
  width: 100%;
  height: 100%;
}

.my-category {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  padding-bottom: 50px;

  // 或者确定大小
  // position: absolute;
  // top:44px;
  // bottom:50px;
  // left:0;
  // right:0;
  overflow:hidden;
  .cate_left {
    float: left;
    width: 80px;
    height: 100%;
    background-color: pink;
    position: relative;
  }
  .cate_right {
    margin-left: 90px;
    height: 100%;
    background-color: blue;
    position: relative;
  }
}
