<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./assets/mui/css/mui.min.css">
	<link rel="stylesheet" href="./assets/fontAwesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/category.css">
	<script src="./assets/zepto/zepto.min.js"></script>
	<script src="./assets/mui/js/mui.min.js"></script>
	<script src="js/category.js"></script>
	<title>Document</title>
</head>

<body>
	<header class="mui-bar mui-bar-nav my_header">
		<!-- <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> -->
		<h1 class="mui-title">shopping web</h1>
		<a href="search.html" class="mui-icon mui-icon-search"></a>
	</header>
	<nav class="mui-bar mui-bar-tab footer my_footer">
		<a class="mui-tab-item" href="index.html">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">Home</span>
		</a>
		<a class="mui-tab-item mui-active" href="category.html">
			<span class="mui-icon mui-icon-bars"></span>
			<span class="mui-tab-label">Categories</span>
		</a>
		<a class="mui-tab-item" href="cart.html">
			<span class="mui-icon fa fa-shopping-cart"></span>
			<span class="mui-tab-label">Cart</span>
		</a>
		<a class="mui-tab-item" href="user.html">
			<span class="mui-icon mui-icon-person"></span>
			<span class="mui-tab-label">VIP</span>
		</a>
	</nav>
	<div class="my-category">
		<div class="cate_left">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="my_categroyLeft">
						<!-- <li class="active">
							<a href="javascript:;">运动馆</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>

		<div class="cate_right">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="my_categroyRight">
						<!-- <li>
							<a href="javascript:;">
								<img src="./images/brand1.png" alt="">
								<p>耐克</p>
							</a>
						</li> -->
					</ul>

				</div>
			</div>
		</div>
	</div>
</body>
<!-- 一级分类页面模板 -->
<script src="./assets/artTemplate/template-native.js"></script>
<script type="text/template" id="firstCategory">
	<% for(var i=0;i<rows.length;i++){%>
	<li data-id="<%= rows[i].id %>">
		<a href="javascript:;"><%= rows[i].categoryName %></a>
	</li>
	<% } %>
</script>
<!-- 耳机分类页面模板 -->
<script type="text/template" id="secondCategory">
	<% for(var i=0;i<rows.length;i++){%>
	<li>
		<a href="javascript:;">
			<img src="<%= rows[i].brandLogo %>" alt="">
			<p><%= rows[i].brandName %></p>
		</a>
	</li>
	<% } %>
</script>

</html>